@prefix ex-l: <http://example.org/dkg/lexique#> .
@prefix skos: <http://www.w3.org/2004/02/skos/core#> .
@prefix first: <https://www.first.org/standards/glossary#> .

ex-l:Scheme_FIRST a skos:ConceptScheme ;
    skos:prefLabel "FIRST CSIRT Vocabulary"@fr .

ex-l:FIRST_Vulnerability a skos:Concept ;
    skos:inScheme ex-l:Scheme_FIRST ;
    skos:prefLabel "Vulnérabilité"@fr ;
    skos:definition "Faiblesse dans un système, une procédure, une configuration interne ou un contrôle interne qui pourrait être exploitée pour violer la politique de sécurité."@fr ;
    skos:exactMatch first:vulnerability .
